* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -khtml-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

body {
    font-family: 'Roboto', sans-serif;

}

.annotation {
    margin: 25px auto;
    width: 425px;
    clear: both;
    overflow: hidden;
    color: #707070;
}

.annotation > h1 {
    float: left;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.annotation > p {
    float: right;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #000000;
}

a:hover {
    color: #a1a1a1;
}

.topbar {
    display: flex;
    justify-content: flex-start;
    margin: 25px auto 0;
    width: 425px;
}

.topbar > div {
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    border: 5px solid #707070;
    background: #a4a4a4;
    border-radius: 10px;
    color: white;
    margin-right: 5px;
}

.topbar > div > span {
    display: block;
}

.topbar > button {
    margin-left: auto;
    border: 5px solid #707070;
    background: #a4a4a4;
    border-radius: 10px;
    width: 110px;
    height: 60px;
    color: white;
    font-weight: bold;
}

.topbar > button:focus {
    outline: none;
}

.topbar > button:active {
    background-color: #707070;
}

div.fade {
    -webkit-animation: fade 1s ease-out;
    animation: fade 1s ease-out;
    opacity: 1;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#playfield {
    position: relative;
    margin: 25px auto;
    width: 415px;
    height: 415px;
    border: 10px solid #707070;
    background: #707070;
    border-radius: 10px;
    touch-action: none;
}

#gameover {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#gameover > p {
    color: white;
    font: 48px/96px 'Roboto', sans-serif;
    text-align: center;
    margin-top: 140px;
}

.back {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #a4a4a4;
    border-radius: 10px;
}

.back:nth-child(1) {
    border-top-left-radius: 10px;
}

.back:nth-child(4) {
    border-bottom-left-radius: 10px;
}

.back:nth-child(13) {
    border-top-right-radius: 10px;
}

.back:nth-child(16) {
    border-bottom-right-radius: 10px;
}

.thing {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    color: black;
    text-align: center;
    font: 48px/96px 'Roboto', sans-serif;
    transition-property: left, top;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    border-radius: 10px;
}

.thing.t2 {
    background: #18df00;
}

.thing.t2:after {
    content: '2'
}

.thing.t4 {
    background: #5a9900;
}

.thing.t4:after {
    content: '4'
}

.thing.t8 {
    background: #8c8e00;
}

.thing.t8:after {
    content: '8'
}

.thing.t16 {
    background: #d38200;
}

.thing.t16:after {
    content: '16'
}

.thing.t32 {
    background: #ae3900;
}

.thing.t32:after {
    content: '32'
}

.thing.t64 {
    background: #931269;
}

.thing.t64:after {
    content: '64'
}

.thing.t128 {
    background: #0a034c;
    color: white;
}

.thing.t128:after {
    content: '128'
}

.thing.t256 {
    background: #708090;
}

.thing.t256:after {
    content: '256'
}

.thing.t512 {
    background: #00FFFF;
}

.thing.t512:after {
    content: '512'
}

.thing.t1024 {
    background: #6A5ACD;
    color: white;
}

.thing.t1024:after {
    content: '1024'
}

.thing.t2048 {
    background: #FFDEAD;
}

.thing.t2048:after {
    content: '2048'
}

